<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
  </head>
  <body>
    <header>
      <h1>Serverbaserad webbutveckling</h1>
      <nav>
        <li><a href="/">Startsida</a></li>
        <li><a href="/about" class="active-page">Om</a></li>
        <li>
          <a href="/addCourse">Lägg till kurs</a>
        </li>
      </nav>
    </header>
    <div class="container">
      <main>
        <h1>Moment 1 - Serverbaserad webbutveckling</h1>
        <p>
          För att skapa webbplatsen har jag använt mig av express, nodemon,
          sqlite och ejs.
        </p>
        <p>
          Att arbeta backend med serverbaserad webbutveckling är nytt för mig
          och kändes väldigt svårt från början men allt eftersom uppgiften
          fortlöpt så släpper det mer och mer.
        </p>
      </main>
    </div>
  </body>
</html>
