body {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 50%;
  margin: auto;
  background-color: whitesmoke;
}
main {
  width: 100%;
  margin: auto;
}
header {
  width: 100%;
  text-align: center;
  background-color: rgba(186, 159, 255, 0.696);
  padding: 0%;
  margin: 0%;
}
nav {
  display: flex;
  list-style: none;
  justify-content: center;
}
li {
  padding: 25px;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rgb(59, 0, 114);
}
.overlined:hover {
  text-decoration: overline;
}
.active-page {
  text-decoration: overline;
}
#addLink {
  background-color: rgba(186, 159, 255, 0.464);
  padding: 3px;
  box-shadow: gray 2px 2px;
  border-radius: 1%;
}
#addLink:hover {
  background-color: rgba(193, 173, 242, 0.826);
  text-decoration: none;
}
th,
td {
  padding: 5px;
}
.syllaLink {
  color: blue;
  font-size: 1rem;
  font-weight: normal;
}
input[type="submit"] {
  padding: 5px;
  background-color: rgba(186, 159, 255, 0.464);
  border-color: rgba(186, 159, 255, 0.464);
  margin-top: 15px;
}

@media all and (max-width: 900px) {
  .container {
    width: 94%;
    margin: auto;
  }
  main {
    width: 100%;
    margin: auto;
  }
}
